.bg-blue {
    background-color: #0c70a4 !important;
}
.form-box {
    width: 360px;
    margin: 10px auto 0 auto;
}
.header {
    margin-top: 45px;
}
.form-box  .form-group {
    margin-top: 20px;
}
.cs-alert{
    max-width: 330px;
    bottom: 30px;
    right: 50px;
    position: absolute;
    z-index: 99999;
}
.container{
    margin-top: 110px;
}
a, a:hover, a:visited{
    color: #77A3C8;
    text-decoration: none;
}
.info-login{
    color: #77A3C8;
}